#contenedorProgress{
    display: block;
    width: 40%;
    margin: 0 auto;
    
}

#progressBar{
    border-radius: 9px;
    border: 2px solid rgb(8, 36, 57);
    height: 38px; 
    width: 27%;;
    z-index: 1000;
    display: block;
    width: 50%;
    position: fixed;
    top: 5%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0 auto;
}

::-webkit-progress-bar{
    border-radius: 9px;
    background: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
}

::-webkit-progress-value{
    background: #14b0db;
    border-radius: 9px;
    display: flex;
}

::-webkit-progress-inner-element {
    border-radius: 9px;
    border: 2px solid rgb(8, 36, 57);
  }


