#contenedorProgress{
    width: 20%;
    margin: 0 auto;
    margin-top: 20PX;
}

#progressBar{
    border-radius: 10px;
    border: 1px solid black;
    height: 38px; 
    width: 200px;
}

::-webkit-progress-bar{
    border-radius: 10px;
    background: rgb(255, 255, 255);
}

::-webkit-progress-value{
    background: #14b0db;
    border-radius: 10px;
}

::-webkit-progress-inner-element {
    border-radius: 10px;
    border: 2px solid black;
  }
/* 
progress { border: 1px;  border-radius: 9px; color: #000000;} */