form {
  width: 100%;
  max-width: 340px;
  background-color: #fff;
  padding: 33px 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: #dd20a5c5;
  border-radius: 10%;
}

label {
  text-align: center;
  font-weight: bold;
  font-size: 20px;
  color: #1E1E1F;
  margin-bottom: 26px;
}

textarea {
  background-color: #F9FBFC;
  border: 2px solid #202329;
  border-radius: 2px;
  box-shadow: 0px 5px 50px rgba(32, 35, 41, 0.25);
  color: #1E1E1F;
  font-size: 20px;
  text-align: center;
  padding: 12px;
  height: 96px;
  width: calc(100% - 25px);
  border-radius: 10%;
}

textarea::placeholder {
  color: #A5A5A5;
  font-family: 'Montserrat';
  font-weight: 400;
}

textarea:focus {
  outline-color:#0b8ff3;
}

.TodoForm-buttonContainer {
  margin-top: 14px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.TodoForm-button {
  cursor: pointer;
  display: inline-block;
  font-size: 20px;
  color: #202329;
  font-weight: 400;
  width: 120px;
  height: 48px;
  border-radius: 10%;
  border: none;
  font-family: 'Montserrat';
}

.TodoForm-button--add {
  background: transparent;
  font-weight: bold;
  width: 100%;
}

.TodoForm-button--add:hover {
  background: #69b8dae5;
  box-shadow: 0px 5px 25px rgb(6, 233, 245);
}

.TodoForm-button--cancel {
  background: transparent;
  font-weight: bold;
  width: 100%;
}

.TodoForm-button--cancel:hover {
  background: #cf4949e5;
  box-shadow: 0px 5px 25px #ff0101;
}

#circleAdd{
  color: #00bfff;
}

#circleCancel{
  color: #ff0000;
}