body {
  margin: 0;
  padding: 0;
  background-image: radial-gradient(circle at 50% -20.71%, #ffffeb 0, #ffffe7 4.55%, #ffffe2 9.09%, #ffffdd 13.64%, #ffffd8 18.18%, #ffffd2 22.73%, #ffffcc 27.27%, #fdffc7 31.82%, #eefec1 36.36%, #ddfbbc 40.91%, #caf7b8 45.45%, #b5f2b5 50%, #9eedb4 54.55%, #85e9b5 59.09%, #6ae4b9 63.64%, #4ae0bf 68.18%, #0addc6 72.73%, #00dacf 77.27%, #00d6d9 81.82%, #00d4e3 86.36%, #00d1ee 90.91%, #00cff8 95.45%, #00ccff 100%);
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
}

#root {
  margin: 0 24px;
  position: relative;
  min-height: 100vh;
}

#modal{
  z-index: 999;
  position: fixed;
  box-shadow: #4f20ddc5;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
